[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
client = {editable = true, path = "./client"}
common = {editable = true, path = "./common"}

[dev-packages]

[requires]
python_version = "3.8"
